.gtco-cover1{
    height: 100vh;
}
.login-box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    min-height: 90vh;
}
.login-box .login-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
}
.login-box .login-container h2{
    width: 100%;
    max-width: 300px;
    text-align: center;
    font-family: "Lato", Arial, sans-serif;
    font-weight: 700!important;
    text-transform: uppercase;

}
.login-box .login-container form{
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 0 auto;
}
.login-box .login-container form label{
    width: 100%;
    color: #fff;
}
.login-box .login-container form label:last-of-type{
    width: 100%;
    color: #999;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.login-box .login-container form label:last-of-type input{
    margin-right: 5px;
}

.login-box .login-container form label .input{
    border: 1px solid grey;
    border-radius: 5px;
    background: transparent;
    padding-left: 25px;
    margin: 0 auto;
    width: 100%;
    height: 40px;
    color: #fff;
    outline: none;
}
.login-box .login-container form label .registration{
    text-decoration: underline;
    color: #999;
    margin-left: auto;
    margin-right: 0;
}
.login-box .login-container .login{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    background: #FBB448;
    width: 100%;
    height: 40px;
    max-width: 180px;
    border-radius: 5px;
    border:none;
    margin-top: 10px;
}.login-box .login-container .login:hover{
    transform: scale(.98);
}
 .headlinne{
     color: #fff;
     font-size: 26px;
     font-weight: 700;
     font-family: "Lato", Arial, sans-serif;
     margin-bottom: 35px;
     text-transform: uppercase;
 }
 .my-table{
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     width: 100%;
     max-width: 450px;
     margin: 0 auto;
     color: #fff;
 }
 .my-table .row-main{
     width: 100%;
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
     border-bottom: 1px solid #999;
 }
 .my-table .my-row{
     width: 100%;
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
 }
 .my-table .row-main .tableCol{
     text-align: center;
     width: 100%;
 }
 .my-table .my-row .tableCol{
     text-align: center;
     width: 100%;
 }

 .my-photo{
     max-width: 42px;
     max-height: 42px;
     display: inline-block;
     height: 30px;
     width: 30px;
 }
.my-photo img{
     width: 42px;
     height: 42px;
     object-fit: cover;
    border-radius: 50%;
    margin-bottom: 3px;
    position: relative;
    transition: all .5s;

}
.my-photo:hover::before{
    content: "Alex";
    transition: all .5s;
 }
.my-photo::before{
    content: '';
    transition: all .5s;
    position: absolute;
    bottom: -21px;
    color: #fff;
    right:142px;
}

  @media (max-width: 768px){
      .my-photo img{
          margin-top: 20px;
      }
  }
.reg-headline{
    margin-top: 100px!important;
}